$primary-color:#7a8fa5;
$secondary-color: black;
$border-color: #cad2db;


$background-color-main: linear-gradient(
  80deg,
  rgba(143, 150, 211, 1) 15%,
  rgba(143, 177, 211, 1) 97%
);

$background-color-white: white;

